<!doctype html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.8.1/dist/bundle.min.js"></script>
	<title>editor.js image sample</title>
</head>

<body>
	<div id="editorjs"></div>
	<script>
		const ImageTool = window.ImageTool;
		const editorJS = new EditorJS({
			holder: "editorjs",
			tools: {
				image: {
					class: ImageTool,
					config: {
						endpoints: {
							byFile: '/upload',
						}
					}
				}
			}
		});
	</script>
</body>

</html>